$orange: #f09051;
$black: black;
$white: #ffff;

footer {
  background-color: white;
  color: black;
  overflow: auto;
  .container {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
    background: white;
    padding: 1rem 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .hg {
    gap: 2rem;
  }
  li {
    display: inline-block;
    margin-left: 1rem;
    align-self: flex-end;
  }
  p {
    padding-bottom: 0;
  }
}