$orange: #f09051;
$black: black;
$white: #ffff;

/*Header________________________________*/
header {
  background-color: white;
  padding-top: 1.5rem;
  .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    position: relative;
  }
  .column:last-child {
    text-align: right;
  }
  li {
    display: inline-block;
    margin-right: 1rem;
  }
  .logo {
    max-height: 24px;
    width: auto;
    align-self: center;
    display: inline;
  }
  .search {
    justify-content: flex-end;
  }

  .genres {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}

/*Footer__________________________________*/

footer {
  background-color: white;
  color: black;
  overflow: auto;
  .container {
    background: white;
    padding: 1rem 0;
  }
  .row {
    justify-content: space-between;
    align-items: center;

  }
  .hg {
    gap: 2rem;
  }
  li {
    display: inline-block;
    margin-left: 1rem;
    align-self: flex-end;
  }
  p {
    padding-bottom: 0;
  }
}
