.btn {
  font-family: "Poppins-Medium", sans-serif;
  /*display: inline-block;*/
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $orange;

  }
}

.big {
  text-align: center;
  padding: 8px 40px;
  font-size: 16px;
  border: none;
}
.small {
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  font-size: 0.8rem;
  font-family: "Poppins-Regular", sans-serif;

}
.square {
  border: none;
  padding: 0 16px;
  max-height: 32px;
  border: none;
  &:hover {
    background-color: $orange;
  }
}

.black {
  background: $black;
  color: $white;
  border: none;
}

.white-border-black {
  background: $white;
  color: $black;
  border: 1px solid $black;
}

.white-no-border {
  background: $white;
  color: $black;
}


.permanent-size {
  text-align: center;
  font-size: 16px;
  font-family: Poppins-Regular;
  padding: 8px 0;
  width: 226px;

}


.transparent {
  background: none;
  color: $black;
  &:hover {
    border: 1px solid $orange;
  }

}
.btn-border {
  border: $black solid 1px;
}

.add-wishlist:hover {
  color: $white;
  border: none;
}

.menu-btn {
  background: white;
  color: black;
  outline: none;
  border: none;
  padding-right: 16px;
  align-self: flex-start;
}

.menu-btn:hover {
  color: $orange;
}

.exit-btn {
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 16px;
  :hover {
    color: $orange;
  }
}

.transparent {
  background: none;
  text-decoration: none;
  color: black;
  &:hover {
    color: $orange
  }
}
.facebook-btn {
  color: #1877f2;
}
.btn-icon-text {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
}
select {
  border: 1px solid $black;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.3rem 1rem;

}
