header {
  background-color: white;
  padding-top: 1rem;

  .row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
  }

  .column:last-child {
    text-align: right;
  }
  ul {
    display: flex;
    gap: 1rem;
  }

  /*li {
    display: inline-block;
  }*/

  .logo {
    max-height: 24px;
    width: auto;
    align-self: center;
    display: inline;

  }

}

/*Footer__________________________________*/

footer {
  background-color: white;
  color: black;
  overflow: auto;
  margin-top: auto;

  .container {
    background: white;
    padding: 1rem 0;
  }

  .row {
    justify-content: space-between;
    align-items: center;

  }

  .hg {
    gap: 2rem;
  }


  li {
    display: inline-block;
    align-self: flex-end;
    padding: 0 1rem 0 0;
  }

  p {
    padding-bottom: 0;
  }
}
