@media screen and (max-width: 1024px) {
  header .content-navigation {
    background: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    z-index: 99;
    padding-bottom: 4rem;
    display: none;

    .content-navigation li {
      display: block;
      justify-content: flex-end;
      padding: 0.5rem 2rem;
      width: 100%;
      align-items: baseline;
    }

    .exit-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .gallery {


    li {
      margin-bottom: 24px;

      &:hover {
        transform: none;
      }
    }

  }
  .advertisement {
    .media-column-reverse {
      display: flex;
      flex-direction: column-reverse;
    }

    .vl {
      display: none;
    }
  }
  .showcase-content {
    flex-direction: column;
  }
}

@media screen and (min-width: 1025px) {
  header .menu-btn,
  .exit-btn {
    display: none;
  }
  .overlay {
    background: rgba(255, 255, 255, 0);
  }
}

@media screen and (max-width: 880px) {
  .content {
    .container {
      display: flex;
      flex-direction: column;
    }

    .sidebar {
      padding: 1rem 0 2rem 0;
      background: none;

      .column {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
      }

      .sidebar-content {
        background: none;
        padding: 0;
        margin: 0;

      }

      .row {
        display: block;
        background: $white;
        padding: 0.5rem 1rem;
        border-bottom: none;

        i {
          display: none;
        }
      }
    }
  }
  .advertisement {
    .media-column {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 736px) {
  .folders-bin {
    .justify-content-space-between {
      display: flex;
      flex-direction: column-reverse;
      padding: 2rem;

    }

    .tabs {
      gap: 0;
    }

    .tab-media-transform {
      width: 50%;
      border-radius: 0;
      margin-bottom: 0;
      border: $white 2px solid;
    }
  }

  .media-transform-to-row-wrap {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }


  .flex-row-media-column {
    flex-direction: column;
  }
  .bar-column {
    flex-direction: column;
  }

}

@media screen and (max-width: 650px) {
  .folder-bin {


    h2 {
      font-size: 3rem;
    }

    .inner {
      margin-bottom: 1rem;
    }

    .bar-column {
      flex-direction: column;
      align-items: unset;

    }

    .price {
      margin-left: 1.5rem;
    }

  }
  .bar {
    .warning-icon {
      padding: 1rem;
    }

    .media-margin-bottom-plus-0-5 {
      margin-bottom: 0.5rem;
    }
  }
}


@media screen and (max-width: 580px) {
  footer {
    display: flex;
    justify-content: space-between;

    .row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    a {
      margin: 1rem 0;
    }
  }
  .banner {
    .banner-media-lengthen {
      height: 38vh;
    }

    h2 {
      top: 42px;
      font-size: 3rem;
      line-height: 4.5rem;
    }
  }
  .order-status {
    img {
      height: 80px;
      width: 80px;


    }

    h4 {
      font-size: 1rem;
    }
  }

}

@media screen and (max-width: 470px) {
  .search-bar {
    max-width: 200px;
  }
  header .logo {
    height: 16px;
  }
  .hero {
    background-size: cover;
    background-position-x: 50%;
  }
  .sidebar h5 {
    font-size: 0.8rem;
    line-height: 1.5rem;

  }
  .folders-bin {
    .tab-media-transform {
      width: 100%;
    }
  }
}