h1 {
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 6rem;
    line-height: 6.5rem;
}

h2 {
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 5rem;
    line-height: 5.5rem;
}
.banner h2 {

    letter-spacing: 1rem ;
}

h3 {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 0.5rem;
}

h4 {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

h5 {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;

}


p {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    stroke-width: 2rem;
}

.typographic-logo {
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 8rem;
    line-height: 6rem;
    letter-spacing: 0;
    text-transform: uppercase;
}

.typographic-logo.small {
    font-size: 1.5rem;
    line-height: 1.25rem;
}
.sidebar {
    ul a {
        font-family: "Poppins-Regular", sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
