h1 {
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 6rem;
    line-height: 6.5rem;
}

h2 {
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 5rem;
    line-height: 5.5rem;
}

h3 {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 1.777rem;
    line-height: 2.369rem;
}

h4 {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1.333rem;
    line-height: 1.777rem;

}

h5 {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 1rem;
    line-height: 1.333rem;

}


p {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1rem;
    stroke-width: 1.333rem;


}
.font-size-075 {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 0.75rem;
    stroke-width: 1rem;
}


.typographic-logo {
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 8rem;
    line-height: 6rem;
    letter-spacing: 0;
    text-transform: uppercase;
}

.typographic-logo.small {
    font-size: 1.5rem;
    line-height: 1.25rem;
}


a {
    color: $black;
    background: none;
    text-decoration: none;
    font-family: "Poppins-Regular", sans-serif;

    &:hover {
        color: $black
    }
}
.font-medium {
    font-family: "Poppins-Medium", sans-serif;
}

