header {
  background-color: white; }
  header .row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative; }
  header .column:last-child {
    text-align: right; }
  header li {
    display: inline-block;
    margin-right: 1rem; }
  header .logo {
    max-height: 24px;
    width: auto;
    align-self: center;
    display: inline; }

/*Footer__________________________________*/
footer {
  background-color: white;
  color: black;
  overflow: auto;
  margin-top: auto; }
  footer .container {
    background: white;
    padding: 1rem 0; }
  footer .row {
    justify-content: space-between;
    align-items: center; }
  footer .hg {
    gap: 2rem; }
  footer li {
    display: inline-block;
    margin-left: 1rem;
    align-self: flex-end; }
  footer p {
    padding-bottom: 0; }

h1 {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 6rem;
  line-height: 6.5rem; }

h2 {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 5rem;
  line-height: 5.5rem; }

h3 {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1.777rem;
  line-height: 2.369rem; }

h4 {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.333rem;
  line-height: 1.777rem; }

h5 {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.333rem; }

p {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  stroke-width: 1.333rem; }

.font-size-075 {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 0.75rem;
  stroke-width: 1rem; }

.typographic-logo {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 8rem;
  line-height: 6rem;
  letter-spacing: 0;
  text-transform: uppercase; }

.typographic-logo.small {
  font-size: 1.5rem;
  line-height: 1.25rem; }

a {
  color: black;
  background: none;
  text-decoration: none;
  font-family: "Poppins-Regular", sans-serif; }
  a:hover {
    color: black; }

.font-medium {
  font-family: "Poppins-Medium", sans-serif; }

.btn {
  font-family: "Poppins-Medium", sans-serif;
  /*display: inline-block;*/
  text-decoration: none;
  cursor: pointer; }
  .btn:hover {
    color: #f09051; }

.big {
  text-align: center;
  padding: 8px 40px;
  font-size: 16px;
  border: none; }

.small {
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  font-size: 0.8rem;
  font-family: "Poppins-Regular", sans-serif; }

.square {
  border: none;
  padding: 0 16px;
  max-height: 32px;
  border: none; }
  .square:hover {
    background-color: #f09051; }

.black {
  background: black;
  color: #ffff;
  border: none; }

.white {
  background: #ffff;
  color: black;
  border: 1px solid black; }

.permanent-size {
  text-align: center;
  font-size: 16px;
  font-family: Poppins-Regular;
  padding: 8px 0;
  width: 226px; }

.transparent {
  background: none;
  color: black; }
  .transparent:hover {
    border: 1px solid #f09051; }

.btn-border {
  border: black solid 1px; }

.add-wishlist:hover {
  color: #ffff;
  border: none; }

.menu-btn {
  background: white;
  color: black;
  outline: none;
  border: none;
  padding-right: 16px;
  align-self: flex-start; }

.menu-btn:hover {
  color: #f09051; }

.exit-btn {
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 16px; }
  .exit-btn :hover {
    color: #f09051; }

.transparent {
  background: none;
  text-decoration: none;
  color: black; }
  .transparent:hover {
    color: #f09051; }

.facebook-btn {
  color: #1877f2; }

.btn-icon-text {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center; }

@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Blackitalic";
  src: url("../fonts/Poppins-Blackitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Bolditalic";
  src: url("..public/fonts/Poppins-Bolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-ExtraBolditalic";
  src: url("../fonts/Poppins-ExtraBolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-ExtraLightitalic";
  src: url("../fonts/Poppins-ExtraLightitalic.ttf") "truetype";
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Italic";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Lightitalic";
  src: url("../fonts/Poppins-Lightitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Mediumitalic";
  src: url("../fonts/Poppins-Mediumitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-SemiBolditalic";
  src: url("../fonts/Poppins-SemiBolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Poppins-Thin";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.search-bar {
  justify-content: flex-end;
  display: flex; }

.search-input {
  padding-left: 0.5rem;
  background: transparent;
  outline: none;
  border: 1.5px solid black;
  border-right: 0;
  max-height: 32px;
  width: 320px; }

input {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem; }

.flex-start {
  justify-content: flex-start; }

.genres {
  display: flex;
  justify-content: center;
  padding: 2rem; }

.subhead-plus-paragraph-line {
  display: flex;
  flex-direction: column; }

/* Hero*/
.hero {
  background-size: contain;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: url("../images/photo.jpg") no-repeat center right/contain;
  height: 70vh;
  background-color: #ffff; }
  .hero .container {
    background-color: transparent;
    z-index: 1; }
  .hero .overlay {
    width: 100%;
    background: linear-gradient(10deg, white, rgba(255, 255, 255, 0));
    position: absolute;
    min-height: 70vh; }
  .hero .logo {
    max-width: 50%;
    /*padding-top: auto;*/ }

/* Gallery____________________________________________ */
.gallery-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem; }

.gallery {
  width: 100%;
  display: grid;
  grid-column-gap: 12px;
  justify-content: center;
  cursor: pointer;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 2rem; }
  .gallery li {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 200px;
    margin-bottom: 1.5rem; }
    .gallery li:hover {
      transform: translateY(-16px); }
  .gallery .product-preview {
    height: 248px;
    width: 80%;
    object-fit: cover;
    margin-right: 0; }
  .gallery .product-top {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: relative; }
  .gallery .author {
    font-size: 1rem;
    writing-mode: vertical-rl;
    height: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .gallery .add-wishlist {
    position: absolute;
    background: rgba(255, 255, 255, 0.825);
    padding: 8px 14px;
    right: 16px;
    top: 16px; }
  .gallery .product-bottom {
    display: flex;
    flex-direction: column; }
  .gallery .book-title {
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    overflow: hidden;
    padding: 0 8px 1rem; }
  .gallery .price {
    align-self: flex-end;
    padding: 1rem 1rem 1rem 0; }

/* Advertisement____________________________________*/
.advertisement {
  background-color: white;
  color: black;
  overflow: auto; }
  .advertisement .container {
    margin: 5rem auto;
    background: white; }
  .advertisement .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem; }
  .advertisement .vl {
    border-left: 4px solid #f09051;
    height: 392px; }
  .advertisement .img {
    cursor: pointer; }

/* Banner _______________________________*/
.banner {
  width: 100%;
  /* display: flex;*/
  align-items: center;
  position: relative; }
  .banner .container {
    display: flex;
    justify-content: center;
    text-align: center; }
  .banner img {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .banner h2 {
    color: #ffff;
    position: absolute;
    top: 140px;
    letter-spacing: 1rem; }

.banner-media-lengthen {
  height: 30vh; }

.banner-media-constant-length {
  height: 30vh; }

/* Content_______________________________________*/
.content .container {
  display: flex;
  justify-content: space-between; }

/* Sidebar_______________________________________*/
.sidebar .sidebar-content {
  background: #ffff;
  padding: 0 1rem 16rem 1rem;
  margin: 3rem 1rem 1rem 1rem;
  border-top: 0; }
.sidebar .row {
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid black; }
  .sidebar .row:hover {
    color: #f09051;
    cursor: pointer; }
.sidebar i {
  padding-left: 1rem; }
.sidebar ul {
  display: none; }
.sidebar ul a {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

/* Shopping Cart_______________________________________*/
.img-obj-pos-top img {
  object-position: top; }

.table .bar {
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  align-items: center; }
.table .bar-column {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.table img {
  height: 12rem;
  width: 8rem;
  object-fit: cover;
  align-self: center;
  margin: 0 1rem 1rem 0; }
.table .inner {
  display: flex;
  flex-direction: column; }
.table .small {
  margin: 0 4px 0 0; }
.table .qty-row {
  display: flex;
  gap: 8px;
  align-items: baseline; }
  .table .qty-row input {
    padding: 0 0 0 1rem;
    align-items: baseline; }
.table label {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem; }
.table .price {
  margin-left: 3rem; }
.table .line-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem; }
.table .total, .table .submit-btn {
  justify-content: end;
  margin: 1rem 0; }
.table .zip {
  gap: 1rem; }

/* Product page____________________________________*/
.advertisement .container {
  background: transparent; }
.advertisement .align-flex-start {
  align-self: flex-start; }
.advertisement h4 {
  margin-bottom: 0.5rem; }
.advertisement p {
  margin-bottom: 1.5rem; }
.advertisement h5 {
  margin-bottom: 1.5rem; }
.advertisement a {
  margin-right: 1rem; }
.advertisement .paragraph-with-header {
  margin-top: 2rem; }
  .advertisement .paragraph-with-header h4 {
    margin-bottom: 1rem; }

.background-none {
  background: transparent; }

/* Order Success _______________________________*/
.subhead-plus-paragraph-line {
  margin-bottom: 2rem; }
  .subhead-plus-paragraph-line h4 {
    margin-bottom: 1rem; }
  .subhead-plus-paragraph-line p {
    margin-bottom: 0.5rem; }
  .subhead-plus-paragraph-line .font-medium {
    font-family: "Poppins-Medium", sans-serif; }

.order-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0 0 0; }
  .order-status img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 4px solid #ffff; }
  .order-status .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; }
  .order-status .hl {
    border-top: 3px dashed #ffff;
    stroke-linecap: round;
    width: 48px;
    stroke-dashoffset: 3; }
  .order-status .complete {
    border: 3px solid #f09051; }
  .order-status .round-img-plus-capture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; }

/* Checkout page __________________________________*/
.folders-bin .container-max-width-656 {
  max-width: 656px;
  margin: 0 auto; }
.folders-bin .folders {
  display: flex;
  flex-direction: column;
  margin: 0 2rem; }
.folders-bin form {
  display: flex;
  gap: 4rem;
  background: #ffff;
  padding: 2rem;
  border-radius: 0 0 16px 16px; }
.folders-bin .tabs {
  display: flex;
  gap: 1rem; }
.folders-bin .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; }
.folders-bin .tab-media-permanent {
  height: 52px;
  width: 220px;
  border-radius: 16px 16px 0 0; }
.folders-bin .tab-media-transform {
  height: 52px;
  width: 220px;
  border-radius: 16px 16px 0 0; }
.folders-bin .active {
  background: #ffff; }
.folders-bin .not-active {
  background: silver; }
.folders-bin .folder-label {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1rem;
  color: black; }
  .folders-bin .folder-label:hover {
    cursor: pointer; }
.folders-bin fieldset {
  display: flex;
  flex-direction: column; }
.folders-bin input {
  border: 1px solid black;
  border-radius: 0; }
.folders-bin ul {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
.folders-bin .icon {
  display: flex;
  max-height: 4rem; }
  .folders-bin .icon img {
    max-height: 24px; }
  .folders-bin .icon i {
    font-size: 24px; }

/* Account Settings______________________*/
.account-settings {
  margin-top: 3rem; }

/* Purchases ________________________________*/
.container-wide {
  padding: 2rem 0; }

/* Password Request___________________________*/
.input-width-230 {
  width: 230px; }

/* Small Classes______________________*/
.container-max-width-656 {
  max-width: 656px;
  margin: 0 auto; }

.container-max-width-800 {
  max-width: 800px;
  margin: 0 auto; }

.background-white {
  background: #ffff; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flx-column-media-row {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-row-media-column {
  display: flex;
  flex-direction: row; }

.margin-top-0 {
  margin-top: 0; }

.margin-top-1 {
  margin-top: 1rem; }

.margin-top-2 {
  margin-top: 2rem; }

.margin-top-3 {
  margin-top: 3rem; }

.margin-top-4 {
  margin-top: 4rem; }

.margin-top-5 {
  margin-top: 5rem; }

.margin-bottom-0 {
  margin-bottom: 0; }

.margin-bottom-05 {
  margin-bottom: 0.5rem; }

.margin-bottom-1 {
  margin-bottom: 1rem; }

.margin-bottom-2 {
  margin-bottom: 2rem; }

.padding-top-0 {
  padding-top: 0; }

.padding-top-1 {
  padding-top: 1rem; }

.padding-top-2 {
  padding-top: 2rem; }

.padding-bottom-0 {
  padding-top: 0; }

.padding-bottom-1 {
  padding-top: 1rem; }

.padding-bottom-2 {
  padding-bottom: 2rem; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.align-center {
  align-items: center; }

.max-width-360 {
  max-width: 360px; }

.width-100 {
  width: 100%; }

.hover-orange-on-white:hover {
  color: #f09051; }

.hover-white-on-gray:hover {
  color: #ffff; }

.column-50 {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 0.5rem; }

.padding-top-24px {
  padding-top: 24px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 16px;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: #e8e9eb;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

/* Utilities */
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%; }

.container-narrow {
  margin: 0;
  max-width: 700px;
  width: 100%;
  overflow: auto; }

.row {
  display: flex;
  align-items: baseline; }

.column {
  flex: 1; }

section {
  margin-bottom: 4rem; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

@media screen and (max-width: 1024px) {
  header .content-navigation {
    background: white;
    position: absolute;
    right: 0;
    z-index: 99;
    padding-bottom: 4rem;
    display: none; }
    header .content-navigation .content-navigation li {
      display: block;
      justify-content: flex-end;
      padding: 0.5rem 2rem;
      width: 100%;
      align-items: baseline; }
    header .content-navigation .exit-btn {
      position: absolute;
      top: 0;
      right: 0; }

  .gallery li {
    margin-bottom: 24px; }
    .gallery li:hover {
      transform: none; }

  .advertisement .media-column-reverse {
    display: flex;
    flex-direction: column-reverse; }
  .advertisement .vl {
    display: none; } }
@media screen and (min-width: 1025px) {
  header .menu-btn,
  .exit-btn {
    display: none; }

  .overlay {
    background: rgba(255, 255, 255, 0); } }
@media screen and (max-width: 880px) {
  .content .container {
    display: flex;
    flex-direction: column; }
  .content .sidebar {
    padding: 1rem 0 2rem 0;
    background: none; }
    .content .sidebar .column {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem; }
    .content .sidebar .sidebar-content {
      background: none;
      padding: 0;
      margin: 0; }
    .content .sidebar .row {
      display: block;
      background: #ffff;
      padding: 0.5rem 1rem;
      border-bottom: none; }
      .content .sidebar .row i {
        display: none; }

  .advertisement .media-column {
    display: flex;
    flex-direction: column; } }
@media screen and (max-width: 736px) {
  .folders-bin .justify-content-space-between {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem; }
  .folders-bin .tab-media-transform {
    width: 120px;
    height: 40px;
    border-radius: 24px;
    margin-bottom: 1rem; }
  .folders-bin .folder-label {
    font-size: 0.8rem; }

  .media-transform-to-row-wrap {
    flex-direction: row;
    flex-wrap: wrap; }

  .flex-row-media-column {
    flex-direction: column; } }
@media screen and (max-width: 650px) {
  .table h2 {
    font-size: 3rem; }
  .table .inner {
    margin-bottom: 1rem; }
  .table .bar-column {
    flex-direction: column;
    align-items: unset; }
  .table .price {
    margin-left: 1.5rem; } }
@media screen and (max-width: 580px) {
  .footer .row {
    display: flex;
    flex-direction: column-reverse; }

  .footer {
    display: flex;
    justify-content: space-between; }

  .footer a {
    margin: 1rem 0; }

  .banner .banner-media-lengthen {
    height: 38vh; }
  .banner h2 {
    top: 42px;
    font-size: 3rem;
    line-height: 4.5rem; }

  .order-status img {
    height: 80px;
    width: 80px; }
  .order-status h4 {
    font-size: 1rem; } }
@media screen and (max-width: 470px) {
  .search-bar {
    max-width: 200px; }

  header .logo {
    height: 16px; }

  .hero {
    background-size: cover;
    background-position-x: 50%; }

  .sidebar h5 {
    font-size: 0.8rem;
    line-height: 1.5rem; } }

/*# sourceMappingURL=main.css.map */
