/*
Error: Undefined variable: "$black".
        on line 53 of main.scss

48: section {
49:   margin-bottom: 4rem;
50: }
51: 
52: a {
53:   color: $black;
54:   background: none;
55:   text-decoration: none;
56:   font-family: "Poppins-Regular", sans-serif;
57: 
58:   &:hover {

Backtrace:
main.scss:53
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/script/tree/node.rb:50:in `perform'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/stack.rb:135:in `with_frame'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/stack.rb:79:in `with_base'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/Users/tanya/.frum/versions/2.7.4/lib/ruby/gems/2.7.0/gems/sass-3.5.7/bin/sass:13:in `<top (required)>'
/var/folders/02/74_vy83535306hv4g9d1n2pc0000gp/T/frum_84774_1632923410163/bin/sass:23:in `load'
/var/folders/02/74_vy83535306hv4g9d1n2pc0000gp/T/frum_84774_1632923410163/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$black\".\A         on line 53 of main.scss\A \A 48: section {\A 49:   margin-bottom: 4rem;\A 50: }\A 51: \A 52: a {\A 53:   color: $black;\A 54:   background: none;\A 55:   text-decoration: none;\A 56:   font-family: \"Poppins-Regular\", sans-serif;\A 57: \A 58:   &:hover {"; }
