h1 {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 6rem;
  line-height: 6.5rem; }

h2 {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 5rem;
  line-height: 5.5rem; }

.banner h2 {
  letter-spacing: 1rem; }

h3 {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 0.5rem; }

h4 {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem; }

h5 {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

p {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  stroke-width: 2rem; }

.typographic-logo {
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 8rem;
  line-height: 6rem;
  letter-spacing: 0;
  text-transform: uppercase; }

.typographic-logo.small {
  font-size: 1.5rem;
  line-height: 1.25rem; }

.sidebar ul a {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Blackitalic";
  src: url("../fonts/Poppins-Blackitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Bolditalic";
  src: url("../fonts/Poppins-Bolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-ExtraBolditalic";
  src: url("../fonts/Poppins-ExtraBolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-ExtraLightitalic";
  src: url("../fonts/Poppins-ExtraLightitalic.ttf") "truetype";
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Italic";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Lightitalic";
  src: url("../fonts/Poppins-Lightitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Mediumitalic";
  src: url("../fonts/Poppins-Mediumitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-SemiBolditalic";
  src: url("../fonts/Poppins-SemiBolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins-Thin";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

footer {
  background-color: white;
  color: black;
  overflow: auto; }

footer .container {
  background: white;
  padding: 1rem 0; }

footer .row {
  justify-content: space-between;
  align-items: center; }

footer .hg {
  gap: 2rem; }

footer li {
  display: inline-block;
  margin-left: 1rem;
  align-self: flex-end; }

footer p {
  padding-bottom: 0; }

@media screen and (max-width: 1024px) {
  header .content-navigation {
    background: white;
    position: absolute;
    right: 0;
    z-index: 99;
    padding-bottom: 4rem;
    display: none; }
  header .content-navigation .content-navigation li {
    display: block;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
    width: 100%;
    align-items: baseline; }
  header .content-navigation .exit-btn {
    position: absolute;
    top: 0;
    right: 0; }
  .gallery li {
    margin-bottom: 24px; }
  .gallery li:hover {
    transform: none; }
  .advertisement .row {
    display: flex;
    flex-direction: column-reverse; }
  .advertisement .vl {
    display: none; } }

@media screen and (min-width: 1025px) {
  header .menu-btn,
  .exit-btn {
    display: none; }
  .overlay {
    background: rgba(255, 255, 255, 0); } }

@media screen and (max-width: 880px) {
  .content .container {
    display: flex;
    flex-direction: column; }
  .content .sidebar {
    padding: 1rem 0 2rem 0;
    background: none; }
  .content .sidebar .column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem; }
  .content .sidebar .row {
    display: block;
    background: #ffff;
    padding: 0.5rem 1rem;
    border-bottom: none; }
  .content .sidebar .row i {
    display: none; } }

@media screen and (max-width: 470px) {
  .search-bar {
    max-width: 200px; }
  header .logo {
    height: 16px; }
  .hero {
    background-size: cover;
    background-position-x: 50%; } }

@media screen and (max-width: 580px) {
  .footer .row {
    display: flex;
    flex-direction: column-reverse; }
  .footer {
    display: flex;
    justify-content: space-between; }
  .footer a {
    margin: 1rem 0; } }

/* Utilities */
/* Document
-----------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background: #e8e9eb;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

body html {
  width: 100%;
  height: 100%; }

a {
  color: black;
  background: none;
  text-decoration: none;
  font-family: "Poppins-Regular", sans-serif;
  margin: 1rem 0; }

a:hover {
  color: #f09051; }

/* Layout
-----------------------------------------*/
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
  overflow: auto; }

.container-narrow {
  margin: 0;
  max-width: 700px;
  width: 100%;
  overflow: auto; }

.row {
  display: flex;
  align-items: baseline; }

.column {
  flex: 1; }

.button {
  font-family: "Poppins-Medium", sans-serif;
  display: inline-block;
  text-decoration: none;
  border: none; }

.button:hover {
  color: #f09051;
  cursor: pointer; }

.big {
  text-align: center;
  padding: 12px 40px;
  font-size: 16px; }

.square {
  border: none;
  padding: 0 16px;
  max-height: 32px; }

.square:hover {
  background-color: #f09051; }

.black {
  background: black;
  color: #ffff; }

.white {
  background: #ffff;
  color: black; }

.transparent {
  background: none;
  color: black; }

.add-wishlist:hover {
  color: #ffff; }

.menu-btn {
  background: white;
  color: black;
  outline: none;
  border: none;
  padding-right: 16px;
  align-self: flex-start; }

.menu-btn:hover {
  color: #f09051; }

.exit-btn {
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 16px; }

.exit-btn :hover {
  color: #f09051; }

.transparent {
  background: none;
  text-decoration: none;
  color: black; }

.transparent:hover {
  color: #f09051; }

.gallery .button {
  margin: 16px 0 0 0; }

/* Components
-----------------------------------------*/
header {
  background-color: white;
  padding-top: 1.5rem; }

header .row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  position: relative; }

header .column:last-child {
  text-align: right; }

header li {
  display: inline-block;
  margin-right: 1rem; }

header .logo {
  max-height: 24px;
  width: auto;
  align-self: center;
  display: inline; }

header .search {
  display: flex;
  justify-content: flex-end; }

header .search-bar {
  padding-left: 0.5rem;
  background: transparent;
  outline: none;
  border: 1.5px solid black;
  border-right: 0;
  max-height: 32px;
  width: 320px; }

header .genres {
  display: flex;
  justify-content: center;
  padding: 2rem; }

/* Hero*/
.hero {
  background-size: contain;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
  background: url("../images/photo.jpg") no-repeat center right/contain;
  height: 70vh;
  background-color: #ffff; }

.hero .container {
  background-color: transparent;
  z-index: 1; }

.hero .overlay {
  width: 100%;
  background: linear-gradient(10deg, white, rgba(255, 255, 255, 0));
  position: absolute;
  min-height: 70vh; }

.hero .logo {
  max-width: 50%;
  /*padding-top: auto;*/ }

/* Gallery */
.gallery {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem; }

.gallery ul {
  width: 100%;
  display: grid;
  grid-column-gap: 12px;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

.gallery li {
  background: white;
  /*max-height: auto;*/
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 448px;
  min-width: 200px;
  margin-bottom: 1.5rem; }

.gallery li:hover {
  transform: translateY(-16px); }

.gallery .gallery-name {
  display: flex;
  justify-content: space-between; }

.gallery .book-cover {
  height: 248px;
  width: 80%;
  object-fit: cover;
  margin-right: 0; }

.gallery .product-top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative; }

.gallery .author {
  font-size: 1rem;
  writing-mode: vertical-rl;
  height: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.gallery .add-wishlist {
  position: absolute;
  background: rgba(255, 255, 255, 0.825);
  padding: 8px 14px;
  right: 16px;
  top: 16px; }

.gallery .product-bottom {
  display: flex;
  flex-direction: column; }

.gallery .book-title {
  height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 8px 1rem; }

.gallery .price {
  align-self: flex-end;
  padding-right: 16px;
  height: 40px; }

/* Advertisement*/
.advertisement {
  background-color: white;
  color: black;
  overflow: auto;
  margin-bottom: 2rem; }

.advertisement .container {
  margin: 5rem auto;
  max-width: 960px;
  width: 90%;
  background: white; }

.advertisement .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem; }

.advertisement .vl {
  border-left: 4px solid #f09051;
  height: 392px; }

.advertisement .img {
  margin-bottom: 16px;
  cursor: pointer; }

.banner {
  background: url("../images/science-fiction.jpg") no-repeat center center/cover;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center; }

.banner .container {
  display: flex;
  justify-content: center;
  text-align: center; }

.banner h2 {
  color: #ffff; }

.content .container {
  display: flex;
  justify-content: space-between; }

.banner {
  margin-bottom: 3rem; }

.sidebar {
  background: #ffff;
  padding: 1rem;
  margin-right: 0.5rem; }

.sidebar .row {
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid black; }

.sidebar .row:hover {
  color: #f09051;
  cursor: pointer; }

.sidebar i {
  padding-left: 1rem; }

.sidebar ul {
  display: none; }

/*# sourceMappingURL=main.css.map */
