<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>A Hobbit, a Wardrobe, and a Great War: How J.R.R. Tolkien and C.S. Lewis Rediscovered Faith, Friendship, and
    Heroism in the Cataclysm of 1914-18</title>
  <link rel="stylesheet" href="../css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a>
          </li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a>
          </li>
        </ul>
      </div>
      <div class="row ">
            <span class="search-bar">
                <label><input class="search-input " type="text" placeholder="Search... "></label>
                <button class="black square "><i class="fas fa-search "></i></button>
            </span>
        <button class="menu-btn "><i class="fas fa-bars "></i></button>
        <div class="content-navigation ">
          <button class="exit-btn "><i class="fas fa-times "></i></button>
          <ul>
            <li><a href="all_books.html">All Books</a></li>
            <li><a href="adults.html">Adults</a></li>
            <li><a href="teens_&_adults">Teens & Young Adults</a></li>
            <li><a href="kids">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>


    <section class="advertisement background-none ">
      <div class="container">
        <div class="row media-column">
          <div>
            <img src="../images/a-hobbit-a-wardrobe-and-a-great-war.jpg" class="product-page-img"/>
          </div>
          <div class="column align-flex-start">
            <h3>A Hobbit, a Wardrobe, and a Great War: How J.R.R. Tolkien and C.S. Lewis Rediscovered Faith, Friendship,
              and Heroism in the Cataclysm of 1914-18</h3>
            <h4>by Joseph Loconte</h4>
            <p>ISBN: 9780525535351</p>
            <h5>$0.00</h5>
            <div class=" btn-stack flex-row-media-column">
              <a class="btn big black ">Add to cart </a>
              <a class="btn big white-border-black ">Add Bookmark </a>
            </div>
          </div>
        </div>
        <div class="paragraph-with-header">
          <h4>Description</h4>
          <p>The First World War laid waste to a continent and permanently altered the political and religious landscape
            of the West. For a generation of men and women, it brought the end of innocence—and the end of faith. Yet
            for J. R. R. Tolkien and C. S. Lewis, the Great War deepened their spiritual quest. Both men served as
            soldiers on the Western Front, survived the trenches, and used the experience of that conflict to ignite
            their Christian imagination. Had there been no Great War, there would have been no Hobbit, no Lord of the
            Rings, no Narnia, and perhaps no conversion to Christianity by C. S. Lewis.

            Unlike a generation of young writers who lost faith in the God of the Bible, Tolkien and Lewis produced epic
            stories infused with the themes of guilt and grace, sorrow and consolation. Giving an unabashedly Christian
            vision of hope in a world tortured by doubt and disillusionment, the two writers created works that changed
            the course of literature and shaped the faith of millions. This is the first book to explore their work in
            light of the spiritual crisis sparked by the conflict.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="contact_form.html">Contact</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>

</html>