<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>How to Mars</title>
  <link rel="stylesheet" href="../css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html "><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
      <div class="row ">
            <span class="search-bar">
                <label><input class="search-input " type="text" placeholder="Search... "></label>
                <button class="black square "><i class="fas fa-search "></i></button>
            </span>
        <button class="menu-btn "><i class="fas fa-bars "></i></button>
        <div class="content-navigation ">
          <button class="exit-btn "><i class="fas fa-times "></i></button>
          <ul>
            <li><a href="all_books.html">All Books</a></li>
            <li><a href="adults.html">Adults</a></li>
            <li><a href="teens_&_adults">Teens & Young Adults</a></li>
            <li><a href="kids">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>


    <section class="advertisement background-none ">
      <div class="container">
        <div class="row media-column">
          <div>
            <img src="../images/how-to-mars.jpg" class="product-page-img"/>
          </div>
          <div class="column align-flex-start">
            <h3>How to Mars</h3>
            <h4>by David Ebenbach</h4>
            <p>ISBN: 978052553554539</p>
            <h5>$0.00</h5>
            <div class=" btn-stack flex-row-media-column">
              <a class="btn big black ">Add to cart </a>
              <a class="btn big white-border-black ">Add Bookmark </a>
            </div>
          </div>
        </div>
        <div class="paragraph-with-header">
          <h4>Description</h4>
          <p>What happens when your dream mission to Mars is a reality television nightmare? This debut science-fiction
            romp with heart follows the tradition of Ray Bradbury’s Martian Chronicles, with a dash of The Hitchhiker’s
            Guide to the Galaxy, and a hint of The Real World.

            For the six lucky scientists selected by the Destination Mars! corporation, a one-way ticket to Mars—in
            exchange for a lifetime of research—was an absolute no-brainer. The incredible opportunity was clearly worth
            even the most absurdly tedious screening process. Perhaps worth following the strange protocols in a
            nonsensical handbook written by an eccentric billionaire. Possibly even worth their constant surveillance,
            the video of which is carefully edited into a ratings-bonanza back on Earth.

            But it turns out that after a while even scientists can get bored of science. Tempers begin to fray;
            unsanctioned affairs blossom. When perfectly good equipment begins to fail, the Marsonauts are faced with a
            possibility that their training just cannot explain.

            Irreverent, poignant, and perfectly weird, David Ebenbach’s debut science-fiction outing, like a mission to
            Mars, is an incredible trip you will never forget.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="about.html ">About</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>

</html>