<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>The Catcher in the Rye</title>
  <link rel="stylesheet" href="../css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
      <div class="row ">
            <span class="search-bar">
                <label><input class="search-input " type="text" placeholder="Search... "></label>
                <button class="black square "><i class="fas fa-search "></i></button>
            </span>
        <button class="menu-btn "><i class="fas fa-bars "></i></button>
        <div class="content-navigation ">
          <button class="exit-btn "><i class="fas fa-times "></i></button>
          <ul>
            <li><a href="all_books.html">All Books</a></li>
            <li><a href="adults.html">Adults</a></li>
            <li><a href="teens_&_adults">Teens & Young Adults</a></li>
            <li><a href="kids">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>


    <section class="advertisement background-none ">
      <div class="container">
        <div class="row media-column">
          <div>
            <img src="../images/the-catcher-in-the-rye.jpg " class="product-page-img"/>
          </div>
          <div class="column align-flex-start">
            <h3>The Catcher in the Ryey</h3>
            <h4>by J.D. Salinger</h4>
            <p>ISBN: 9780525535567</p>
            <h5>$0.00</h5>
            <div class=" btn-stack flex-row-media-column">
              <a class="btn big black ">Add to cart </a>
              <a class="btn big white-border-black ">Add Bookmark </a>
            </div>
          </div>
        </div>
        <div class="paragraph-with-header">
          <h4>Description</h4>
          <p>The hero-narrator of The Catcher in the Rye is an ancient child of sixteen, a native New Yorker named
            Holden Caulfield. Through circumstances that tend to preclude adult, secondhand description, he leaves his
            prep school in Pennsylvania and goes underground in New York City for three days. The boy himself is at once
            too simple and too complex for us to make any final comment about him or his story. Perhaps the safest thing
            we can say about Holden is that he was born in the world not just strongly attracted to beauty but, almost,
            hopelessly impaled on it. There are many voices in this novel: children's voices, adult voices, underground
            voices-but Holden's voice is the most eloquent of all. Transcending his own vernacular, yet remaining
            marvelously faithful to it, he issues a perfectly articulated cry of mixed pain and pleasure. However, like
            most lovers and clowns and poets of the higher orders, he keeps most of the pain to, and for, himself. The
            pleasure he gives away, or sets aside, with all his heart. It is there for the reader who can handle it to
            keep.

            J.D. Salinger's classic novel of teenage angst and rebellion was first published in 1951. The novel was
            included on Time's 2005 list of the 100 best English-language novels written since 1923. It was named by
            Modern Library and its readers as one of the 100 best English-language novels of the 20th century. It has
            been frequently challenged in the court for its liberal use of profanity and portrayal of sexuality and in
            the 1950's and 60's it was the novel that every teenage boy wants to read. </p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="contact_form.html">Contact</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>

</html>