<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Password request success</title>
  <link rel="stylesheet" href="../../css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../../css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="../index.html"><img src="../../images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="../account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="../save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="../shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section class="pop-up password-request">
      <div class="container">
        <div class="flex-column">
          <div class="column-50">
            <i class="far fa-check-circle success-icon"></i>
            <p class="margin-bottom-2">Success! Your password has been changed.</p>
            <div class="flex-column">
              <a href="../log-in.html" class="submit-btn black big btn margin-bottom-05">Go to Log In page</a>
              <a href="../index.html" class="submit-btn white-border-black big btn">Go to Home page</a>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
  </body>
</div>
</html>