<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Checkout</title>
    <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="column">
                <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
            </div>
            <ul>
                <li><a href="profile_page ">Log In</a></li>
                <li><a href="profile_page ">Sign Up</a></li>
                <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a></li>
                <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a></li>
            </ul>
        </div>

    </div>
</header>
<main>
    <section class="banner img-obj-pos-top">
        <img src="../public/images/log_in.jpg">
        <div class="container">
            <h2>Checkout</h2>
        </div>
    </section>


    <section class="checkout log-in">
        <div class="container">

            <div class="tabs">
                <div class="tab  active">
                <a class="folder">Log In</a>
                </div>
                <div class="tab  not-active">
                <a class="folder">Sign Up</a>
                </div>
            </div>
            <form>
                <div class="column">
                    <div class="column-50">
                        <fieldset>
                            <legend>Email</legend>
                            <input type="email" name="email">
                        </fieldset>
                        <fieldset>
                            <legend>Passwords</legend>
                            <input type="password" name="password">
                        </fieldset>
                        <a href="#" class="margin-bottom-1rem">Forget your password?</a>
                        <a class="submit-btn btn black big">Log In</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-50">
                        <ul>
                            <li class="btn-img-text">
                                <div class="action-btn">
                                    <span class="icon"><i class="fab fa-apple"></i></span>
                                    <span class="text"><p>Log In with Apple</p></span>
                                </div>
                            </li>
                            <li class="btn-img-text">
                                <div class="action-btn">
                                    <span class="icon"><img src="../public/images/google-icon.png"/></span>
                                    <span class="text"><p>Log In with Google</p></span>
                                </div>
                            </li>
                            <li class="btn-img-text">
                                <div class="action-btn">
                                    <span class="icon"><i class="fab fa-apple"></i></span>
                                    <span class="text"><p>Log In with Facebook</p></span>
                                </div>
                            </li>



                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>


</main>
<footer>
    <div class="container ">
        <div class="row">
            <div class="row hg">
                <p>© 2021 TATIANA SHILNIKOVA, INC</p>
                <a href="about.html ">About</a>
            </div>
            <ul>
                <li>
                    <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
                </li>
                <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
                <li>
                    <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>