<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Message sent conformation</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section class="pop-up password-request">
      <div class="container">
        <div class="flex-column">
          <div class="column-50">
            <i class="far fa-check-circle success-icon"></i>
            <p class="margin-bottom-1">Success! Item has been deleted.</p>
            <a href="shopping_cart.html" class="big black btn">Back to Shopping Cart</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  </body>
</div>
</html>