<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fahrenheit 451</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="profile_page ">Log In</a></li>
          <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a>
          </li>
          <li><a href="shopping_cart.html "><i class="fas fa-shopping-cart "></i></a>
          </li>
        </ul>
      </div>
      <div class="row ">
            <span class="search-bar">
                <label><input class="search-input " type="text" placeholder="Search... "></label>
                <button class="black square "><i class="fas fa-search "></i></button>
            </span>
        <button class="menu-btn "><i class="fas fa-bars "></i></button>
        <div class="content-navigation ">
          <button class="exit-btn "><i class="fas fa-times "></i></button>
          <ul>
            <li><a href="all_books.html">All Books</a></li>
            <li><a href="adults.html">Adults</a></li>
            <li><a href="teens_&_adults">Teens & Young Adults</a></li>
            <li><a href="kids">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>


    <section class="advertisement background-none ">
      <div class="container">
        <div class="row media-column">
          <div>
            <img src="../public/images/fahrenheit-451.jpg " class="product-page-img"/>
          </div>
          <div class="column align-flex-start">
            <h3>Fahrenheit 451</h3>
            <h4>by Ray Bradbury</h4>
            <p>ISBN: 97805255355954</p>
            <h5>$0.00</h5>
            <div class=" btn-stack flex-row-media-column">
              <a class="btn big black ">Add to cart </a>
              <a class="btn big white-border-black ">Add Bookmark </a>
            </div>
          </div>
        </div>
        <div class="paragraph-with-header">
          <h4>Description</h4>
          <p>Guy Montag is a fireman. His job is to destroy the most illegal of commodities, the printed book, along
            with the houses in which they are hidden. Montag never questions the destruction and ruin his actions
            produce, returning each day to his bland life and wife, Mildred, who spends all day with her television
            “family.” But when he meets an eccentric young neighbor, Clarisse, who introduces him to a past where people
            didn’t live in fear and to a present where one sees the world through the ideas in books instead of the
            mindless chatter of television, Montag begins to question everything he has ever known.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="about.html ">About</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>

</html>