<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home page</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
  <div class="container">
    <div class="row">
      <div class="column">
        <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
      </div>
      <ul>
        <li><a href="log-in.html"></a></li>
        <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a>
        </li>
        <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a>
        </li>
      </ul>
    </div>
    <div class="row ">
      <div class="search-bar">
        <label></label>
        <input class="search-input " type="text" placeholder="Search... ">
        <button class="black square "><i class="fas fa-search "></i></button>
      </div>
      <button class="menu-btn "><i class="fas fa-bars "></i></button>
      <div class="content-navigation ">
        <button class="exit-btn "><i class="fas fa-times "></i></button>
        <ul>
          <li><a href="#">All Books</a></li>
          <li><a href="#">Adults</a></li>
          <li><a href="#">Teens & Young Adults</a></li>
          <li><a href="#">Kids</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="hero marketing-page">
    <div class="container ">
      <img class="logo" src="../public/images/logo.png" alt="storytellers">
      <h4 class="margin-bottom-1">Experience the whole gamut of feeling while reading.</h4>
      <a class=" btn big black" href="#">See All </a>
    </div>
    <div class="overlay "></div>
  </section>

  <section class="container">
    <div class="gallery-name">
      <h4>Recently Viewed</h4>
      <a class="btn transparent" href="#">See All </a>
    </div>
    <ul class="gallery">
      <li>
        <a href="the_catcher_in_the_rye.html">
          <div class="product-top ">
            <p class="author ">by J.D. Salinger</p>
            <img src="../public/images/the-catcher-in-the-rye.jpg " class="product-preview "/>
            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
          </div>
          <div class="product-bottom ">
            <h4 class="book-title ">The Catcher in the Rye</h4>
            <h5 class="price ">$0.00</h5>
            <a class="btn big black ">Add to cart </a>
          </div>
        </a>
      </li>
      <li>
        <a href="clockwork_orange.html">
          <div class="product-top ">
            <p class="author ">by Antony Burgess</p>
            <img src="../public/images/a-clockwork-orange.jpg " class="product-preview "/>
            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
          </div>
          <div class="product-bottom ">
            <h4 class="book-title ">A Clockwork Orange</h4>
            <h5 class="price ">$0.00</h5>
            <a class="btn big black ">Add to cart </a>
          </div>
        </a>
      </li>
      <li>
        <a href="fahrenheit_451.html">
          <div class="product-top ">
            <p class="author ">by Ray Bradbury</p>
            <img src="../public/images/fahrenheit-451.jpg " class="product-preview "/>
            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
          </div>
          <div class="product-bottom ">
            <h4 class="book-title ">Fahrenheit 451</h4>
            <h5 class="price ">$0.00</h5>
            <a class="btn big black ">Add to cart </a>
          </div>
        </a>
      </li>
      <li>
        <a href="1984.html">
          <div class="product-top ">
            <p class="author ">by George Orwell</p>
            <img src="../public/images/1984.jpg " class="product-preview "/>
            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
          </div>
          <div class="product-bottom ">
            <h4 class="book-title ">1984</h4>
            <h5 class="price ">$0.00</h5>
            <a class="btn big black ">Add to cart </a>
          </div>
        </a>
      </li>
    </ul>


  </section>

  <section class="advertisement ">
    <div class="container ">
      <div class="row media-column-reverse">
        <div class="vl "></div>
        <div class="column ">
          <h3>Detransition, Baby</h3>
          <h4>by Torrey Peters</h4>
          <p>A whipsmart debut about three women—transgender and cisgender—whose lives collide after an
            unexpected pregnancy forces them to confront their deepest desires around gender, motherhood,
            and sex.</p>
          <a class="btn big black " href="product_page.html">Learn more </a>
        </div>
        <div class="img ">
          <a href="product_page.html"><img src="../public/images/detransition-baby.jpg "
                                           class="advertisement-img "/></a>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="container ">
    <div class="row">
      <div class="row hg">
        <p>© 2021 TATIANA SHILNIKOVA, INC</p>
        <a href="contact_form.html">Contact</a>
      </div>
      <ul>
        <li>
          <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
        </li>
        <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
        <li>
          <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</body>

</html>