<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Order success</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
  <div class="container">
    <div class="row">
      <div class="column">
        <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
      </div>
      <ul>
        <li><a href="profile_page ">Kate</a></li>
        <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a></li>
        <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a></li>
      </ul>
    </div>

  </div>
</header>
<main>

  <section class="order-status">
    <h4>Kate, Thank you for your purchase!</h4>
    <div class="container">
      <div class="round-img-plus-capture">
        <img class="complete" src="../public/images/ordered@2x.png">
        <p>Ordered</p>
      </div>
      <div class="hl complete"></div>
      <div class="round-img-plus-capture">
        <img src="../public/images/shipped.jpg">
        <p>Shipped</p>
      </div>
      <div class="hl"></div>
      <div class="round-img-plus-capture">
        <img src="../public/images/delivere@2x.png">
        <p>Delivered</p>
      </div>
    </div>
  </section>

  <section class="folder-bin">
    <div class="container">
      <div class="column>">
          <span class="bar">
                    <img src="../public/images/how-to-mars.jpg">

                    <div class="bar-column width-100">

                        <div class="inner">
                            <div>
                                <h4>How to Mars</h4>
                                <p>by David Ebenbach </p>
                            </div>
                        </div>
                        <div class="line-group">
                            <div class="qty-row">
                                <label>Qty:</label>
                                <h5>1</h5>
                            </div>
                            <h5 class="price">$0.00</h5>
                       </div>
                    </div>
                </span>
        <span class="bar">
                    <img src="../public/images/the-kingdom.jpg">

                    <div class="bar-column width-100">

                        <div class="inner">
                            <div>
                                <h4>The Kingdom</h4>
                                <p>by Natasha Pulley </p>
                            </div>
                        </div>
                        <div class="line-group">
                           <div class="qty-row">
                                <label>Qty:</label>
                                <h5>1</h5>
                            </div>
                            <h5 class="price">$0.00</h5>
                       </div>
                    </div>
                </span>
        <span class="bar">
                    <img src="../public/images/the-mothers.jpg">
                    <div class="bar-column width-100">
                        <div class="inner">
                            <div>
                                <h4>The Mother</h4>
                                <p>by Brit Bannet</p>
                            </div>
                        </div>
                        <div class="line-group">
                            <div class="qty-row">
                                <label>Qty:</label>
                                <h5>1</h5>
                            </div>
                            <h5 class="price">$0.00</h5>
                       </div>
                    </div>
                </span>


        <span class="row total">
                    <h5>Total: $0.00</h5>
                </span>
        <div class="subhead-plus-paragraph-line">
          <h4>Your Order Details</h4>
          <p>Your Order:<span class="font-medium"> # 113-7615407-2469032</span></p>
          <p>Delivery: <span class="font-medium">Monday, May 3</span></p>
          <p>Delivery Address: <span class="font-medium">4945 Washington Avenue, Jackson, Mississippi(MS), 39201</span>
          </p>
        </div>
        <span class="row submit-btn">
          <a class="btn black big">Continue Shopping</a>
        </span>
      </div>
    </div>
  </section>


</main>
<footer>
  <div class="container ">
    <div class="row">
      <div class="row hg">
        <p>© 2021 TATIANA SHILNIKOVA, INC</p>
        <a href="about.html ">About</a>
      </div>
      <ul>
        <li>
          <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
        </li>
        <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
        <li>
          <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</body>

</html>