<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Checkout Sign-up</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="profile_page ">Log In</a></li>
          <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>

    </div>
  </header>
  <main>
    <div class="container-max-width-656  margin-top-5">
      <div class="flex-column justify-content-center">
      <div class="column-50 flex-column align-center background-white padding-bottom-2">
        <h4 class="margin-bottom-1 margin-top-2">Enter your Email</h4>
        <fieldset>
          <legend>Email</legend>
          <input class="input-width-230" type="email" name="email">
        </fieldset>
        <a class="btn black big">Request Password</a>
      </div>
      </div>
    </div>
  </main>
  </body>
</div>
</html>