<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Payment</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="profile_page ">Kate</a></li>
          <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <section class="folders-bin account-settings">
      <div class="container-max-width-800">
        <div class="folders">
          <div class="tabs media-transform-to-row-wrap">
            <div class="tab tab-media-transform not-active media-convert-to-btn">
              <a class="folder-label hover-white-on-gray ">Account Settings</a>
            </div>
            <div class="tab tab-media-transform not-active media-convert-to-btn">
              <a class="folder-label hover-white-on-gray hover-orange-on-white ">Purchases</a>
            </div>
            <div class="tab tab-media-transform active media-convert-to-btn">
              <a class="folder-label hover-orange-on-white hover-orange-on-white ">Payment</a>
            </div>
            <div class="tab tab-media-transform not-active media-convert-to-btn">
              <a class="folder-label hover-white-on-gray hover-orange-on-white ">Wish List</a>
            </div>
          </div>

          <form class="justify-content-center">
            <div class="column max-width-360">
              <div class="column-50">
                <div class="subhead-plus-paragraph-line align-center">
                  <h4>Your Payment Method</h4>
                  <p>Card Number:<span class="font-medium"> 1234   5678   3456   2456</span></p>
                  <p>Cardholder Name: <span class="font-medium">Katie Mcdonald</span></p>
                  <p>Exp. Date: <span class="font-medium">02/24</span>
                  </p>
                </div>
                <div class="column-50 submit-btn padding-top-24px">
                  <a class="btn black big">Add Payment Method</a>
                  <a class="btn white big">Edith Payment Method</a>
                  <a class="btn white big">Delete Payment Method</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="about.html ">About</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>
</html>