<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Purchases</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <section class="folders-bin account-settings">
      <div class="container-max-width-800">
        <div class="folders">
          <div class="tabs media-transform-to-row-wrap">
            <div class="tab tab-media-transform not-active media-convert-to-btn">
              <a class="folder-label hover-white-on-gray ">Account Settings</a>
            </div>
            <div class="tab tab-media-transform active media-convert-to-btn">
              <a class="folder-label hover-orange-on-white">Purchases</a>
            </div>
            <div class="tab tab-media-transform not-active media-convert-to-btn">
              <a class="folder-label hover-white-on-gray">Payment</a>
            </div>
            <div class="tab tab-media-transform not-active media-convert-to-btn">
              <a class="folder-label hover-white-on-gray">Wish List</a>
            </div>
          </div>
          <section class="folder-bin">
            <div class="container-wide background-white">
              <div class="container">
                <div class="column>">
                <span class="bar flex-row-media-column">
                  <img src="../public/images/how-to-mars.jpg">
                    <div class="bar-column column">
                      <div class="inner">
                        <h5 class="margin-bottom-05">Delivered</h5>
                        <p class="font-size-075 margin-bottom-0">Your Order:<span class="font-medium"> # 113-7615407-2469032</span></p>
                        <p class="font-size-075 margin-bottom-0">Order placed: <span
                          class="font-medium">4/11/2021</span></p>
                        <p class="font-size-075 margin-bottom-0">Total: <span class="font-medium">$56.60</span></p>
                      </div>
                    </div>
                    <div class="column-50 submit-btn">
                      <a class="btn black big">See Details</a>
                      <a class="btn white-border-black big">Return</a>
                      <a class="btn white-border-black big">Track</a>
                    </div>
                </span>
                </div>

                <div class="column>">
                <span class="bar flex-row-media-column">
                  <img src="../public/images/the-revelations.png">
                    <div class="bar-column column">
                      <div class="inner">
                        <h5 class="margin-bottom-05">Delivered</h5>
                        <p class="font-size-075 margin-bottom-0">Your Order:<span class="font-medium"> # 113-7615407-2469032</span></p>
                        <p class="font-size-075 margin-bottom-0">Order placed: <span
                          class="font-medium">4/11/2021</span></p>
                        <p class="font-size-075 margin-bottom-0">Total: <span class="font-medium">$56.60</span></p>
                      </div>
                    </div>
                    <div class="column-50 submit-btn">
                      <a class="btn black big">See Details</a>
                      <a class="btn white-border-black big">Return</a>
                      <a class="btn white-border-black big">Track</a>
                    </div>
                </span>
                </div>

                <div class="column>">
                <span class="bar flex-row-media-column">
                  <img src="../public/images/deacon-king-kong.jpg">
                    <div class="bar-column column">
                      <div class="inner">
                        <h5 class="margin-bottom-05">Delivered</h5>
                        <p class="font-size-075 margin-bottom-0">Your Order:<span class="font-medium"> # 113-7615407-2469032</span></p>
                        <p class="font-size-075 margin-bottom-0">Order placed: <span
                          class="font-medium">4/11/2021</span></p>
                        <p class="font-size-075 margin-bottom-0">Total: <span class="font-medium">$56.60</span></p>
                      </div>
                    </div>
                    <div class="column-50 submit-btn">
                      <a class="btn black big">See Details</a>
                      <a class="btn white-border-black big">Return</a>
                      <a class="btn white-border-black big">Track</a>
                    </div>
                </span>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="about.html ">Contact</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>
</html>