<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Save for later delete request</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section class=" pop-up password-request">
      <div class="container">
        <div class="flex-column">
          <div class="column-50">
            <h4 class="margin-bottom-1">Delete?</h4>
            <p class="margin-bottom-1">Are you sure you want to delete this item?</p>
            <a href="delete_success_save_4_later.html" class="btn white-border-black big">Delete</a>
            <a href="save_for_later.html" class="btn black big">Cancel</a>
          </div>
        </div>
      </div>
    </section>
    <section class="banner">
      <img src="../public/images/shopping-cart.jpg">
      <div class="container">
        <h2> Wishlist</h2>
      </div>
    </section>

    <section class="folder-bin">
      <div class="container">
        <div class="column>">
          <div class="bar">
            <img src="../public/images/the-house-of-lost-and-found.jpg">
            <div class="bar-column  width-100">
              <div class="inner">
                <div class="margin-bottom-1">
                  <h4>The house of lost and found</h4>
                  <p>by Martin Widmark, Emilia Dziubak (Illustrator), Polly Lawson (Translator) </p>
                </div>
              </div>
              <div class="column-50 submit-btn">
                <a class="btn black big">Move to cart</a>
                <a href="save_4_later_delete_request.html" class="btn white-border-black big">Delete</a>
              </div>
            </div>
          </div>
          <div class="bar">
            <img src="../public/images/raven-girl.jpg">
            <div class="bar-column  width-100">
              <div class="inner">
                <div class="margin-bottom-1">
                  <h4>Raven girl</h4>
                  <p>by Audrey Niffenegger</p>
                </div>
              </div>
              <div class="column-50 submit-btn">
                <a class="btn black big">Move to cart</a>
                <a href="save_4_later_delete_request.html" class="btn white-border-black big">Delete</a>
              </div>
            </div>
          </div>
          <div class="bar">
            <img src="../public/images/tales-from-outer-suburbia.jpg">
            <div class="bar-column  width-100">
              <div class="inner">
                <div class="margin-bottom-1">
                  <h4>Tales from Outer Suburbia</h4>
                  <p>by Shaun Tan</p>
                </div>
              </div>
              <div class="column-50 submit-btn">
                <a class="btn black big">Move to cart</a>
                <a href="save_4_later_delete_request.html" class="btn white-border-black big">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  </body>
</div>
</html>