<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Science Fiction</title>
    <link rel="stylesheet" href="../public/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="column">
                    <a href="index.html"><img src="../public/images/logo.png" class="logo " /></a>
                </div>
                <ul>
                    <li><a href="profile_page ">Kate</a></li>
                    <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a></li>
                    <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a></li>
                </ul>
            </div>
            <div class="row ">
                <div class="search ">
                    <label><input class="search-bar " type="text" placeholder="Search... "></label>
                    <button class="black square "><i class="fas fa-search "></i></button>
                </div>
                <button class="menu-btn "><i class="fas fa-bars "></i></button>
                <div class="content-navigation ">
                    <button class="exit-btn "><i class="fas fa-times "></i></button>
                    <ul>
                        <li><a href="all_books.html">All Books</a></li>
                        <li><a href="adults.html">Adults</a></li>
                        <li><a href="teens_&_adults">Teens & Young Adults</a></li>
                        <li><a href="kids">Kids</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="banner">
            <div class="container">
                <h2> Science Fiction</h2>
            </div>
        </section>

    <section class="content">
        <div class="container">
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="column">
                    <span class="row">
                        <h5>Adult</h5>
                        <i class="fas fa-plus"></i>
                    </span>
                    <ul>
                        <li><a href="#">Action & Adventure</a></li>
                        <li><a href="#">Crime & Mystery</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Graphic Novels</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Poetry</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Science Fiction</a></li>
                    </ul>

                    <span class="row">
                        <h5>Kids</h5>
                        <i class="fas fa-plus"></i>
                    </span>

                    <ul>
                        <li><a href="#">Action & Adventure</a></li>
                        <li><a href="#">Crime & Mystery</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Graphic Novels</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Poetry</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Science Fiction</a></li>
                    </ul>


                    <span class="row">
                        <h5>Teens & Yang Adults</h5>
                        <i class="fas fa-plus"></i>
                    </span>

                    <ul>
                        <li><a href="#">Action & Adventure</a></li>
                        <li><a href="#">Crime & Mystery</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Graphic Novels</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Poetry</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Science Fiction</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <section class="container-narrow">

            <div class="column">

                <div class="gallery-name ">
                    <h4>New In Science Fiction</h4>
                    <a class="button transparent" href="#">See All </a>
                </div>

                <ul class="gallery">
                    <li>
                        <div class="product-top ">
                            <p class="author ">by Natasha Pulley</p>
                            <img src="../public/images/the-kingdom.jpg " class="book-cover " />
                            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
                        </div>
                        <div class="product-bottom ">
                         <h4 class="book-title ">The Kingdoms</h4>
                            <h5 class="price ">$0.00</h5>
                            <a class="button big black ">Add to cart </a>
                        </div>
                    </li>
                    <li>
                         <div class="product-top ">
                            <p class="author ">by David Ebenbach</p>
                            <img src="../public/images/how-to-mars.jpg " class="book-cover " />
                            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
                        </div>
                         <div class="product-bottom ">
                            <h4 class="book-title ">How to Mars</h4>
                            <h5 class="price ">$0.00</h5>
                            <a class="button big black ">Add to cart </a>
                        </div>
                    </li>
                    <li>
                        <div class="product-top ">
                            <p class="author ">by Nicole Kornher-Stace </p>
                            <img src="../public/images/firebreak.jpg " class="book-cover " />
                            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
                        </div>
                        <div class="product-bottom ">
                            <h4 class="book-title ">Firebreak</h4>
                            <h5 class="price ">$0.00</h5>
                            <a class="button big black ">Add to cart </a>
                        </div>
                    </li>
                </ul>

                <div class="gallery-name ">
                    <h4>Staff Suggestions</h4>
                    <a class="button transparent" href="#">See All </a>
                </div>

                <ul class="gallery">
                    <li>
                        <div class="product-top ">
                            <p class="author ">by Natasha Pulley</p>
                            <img src="../public/images/the-kingdom.jpg " class="book-cover " />
                            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
                        </div>
                        <div class="product-bottom ">
                            <h4 class="book-title ">The Kingdoms</h4>
                            <h5 class="price ">$0.00</h5>
                            <a class="button big black ">Add to cart </a>
                        </div>
                    </li>
                    <li>
                        <div class="product-top ">
                            <p class="author ">by David Ebenbach</p>
                            <img src="../public/images/how-to-mars.jpg " class="book-cover " />
                            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
                        </div>
                        <div class="product-bottom ">
                            <h4 class="book-title ">How to Mars</h4>
                            <h5 class="price ">$0.00</h5>
                            <a class="button big black ">Add to cart </a>
                        </div>
                    </li>
                    <li>
                        <div class="product-top ">
                            <p class="author ">by Nicole Kornher-Stace </p>
                            <img src="../public/images/firebreak.jpg " class="book-cover " />
                            <span class="add-wishlist "><i class="fas fa-bookmark "></i></span>
                        </div>
                        <div class="product-bottom ">
                            <h4 class="book-title ">Firebreak</h4>
                            <h5 class="price ">$0.00</h5>
                            <a class="button big black ">Add to cart </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        </div>
    </section>
</main>

<footer>
    <div class="container ">
        <div class="row">
            <div class="row hg">
                <p>© 2021 TATIANA SHILNIKOVA, INC</p>
                <a href="about.html ">About</a>
            </div>
            <ul>
                <li><a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a></li>
                <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
                <li><a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>