!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../public/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="column">
                <a href="index.html"><img src="../public/images/logo.png" class="logo " /></a>
            </div>
            <ul>
                <li><a href="profile_page ">Kate</a></li>
                <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a>
                </li>
                <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a>
                </li>
            </ul>
        </div>
        <div class="row ">
            <div class="search ">
                <label><input class="search-bar " type="text" placeholder="Search... "></label>
                <button class="black square "><i class="fas fa-search "></i></button>
            </div>
            <button class="menu-btn "><i class="fas fa-bars "></i></button>
            <div class="content-navigation ">
                <button class="exit-btn "><i class="fas fa-times "></i></button>
                <ul>
                    <li><a href="all_books.html">All Books</a></li>
                    <li><a href="adults.html">Adults</a></li>
                    <li><a href="teens_&_adults">Teens & Young Adults</a></li>
                    <li><a href="kids">Kids</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="banner">
        <div class="container">
            <h2> Shopping Cart</h2>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="column>">
                <span class="row">
                    <h5>Product(3)</h5>
                    <h5>Quantity</h5>
                    <h5>Price</h5>
                </span>
                <span class="row, bar">
                    <a href="#"><img src="../public/images/how-to-mars.jpg" class="book-cover"></a>
                    <div class="inner">
                        <div>
                            <h5>How to Mars</h5>
                            <p>by David Ebenbach </p>
                        </div>
                        <div>
                          <a class="button small">Delete</a>
                          <a class="button small">Save for later</a>
                        </div>
                    </div>
                    <input type="number" name="quantity" min="0" max="9">
                    <h5 class="price">0.00</h5>
                </span>

                <span class="row, bar">
                    <a href="#"><img src="../public/images/the-kingdom.jpg" class="book-cover"></a>
                    <div class="inner">
                        <div>
                            <h5>The Kingdom</h5>
                            <p>by Natasha Pulley </p>
                        </div>
                        <div>
                          <a class="button small">Delete</a>
                          <a class="button small">Save for later</a>
                        </div>
                    </div>
                    <input type="number" name="quantity" min="0" max="9">
                    <h5 class="price">0.00</h5>
                </span>

                <span class="row, bar">
                    <a href="#"><img src="../public/images/firebreak.jpg" class="book-cover"></a>
                    <div class="inner">
                        <div>
                            <h5>Firebreak</h5>
                            <p>by Nicole Kornher-Stace</p>
                        </div>
                        <div>
                          <a class="button small">Delete</a>
                          <a class="button small">Save for later</a>
                        </div>
                    </div>
                    <input type="number" id="quantity" name="quantity" min="0" max="9">
                    <h5 class="price">0.00</h5>
                </span>
            </div>
        </div>
    </section>


</main>
<footer>
    <div class="container ">
        <div class="row">
            <div class="row hg">
                <p>© 2021 TATIANA SHILNIKOVA, INC</p>
                <a href="about.html ">About</a>
            </div>
            <ul>
                <li>
                    <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
                </li>
                <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
                <li>
                    <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>