<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SShopping Cart
    </title>
    <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="column">
                <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
            </div>
            <ul>
                <li><a href="profile_page ">Kate</a></li>
                <li><a href="save-4-later "><i class="fas fa-bookmark "></i></a></li>
                <li><a href="shopping-cart "><i class="fas fa-shopping-cart "></i></a></li>
            </ul>
        </div>
        <div class="row ">
            <div class="search ">
                <label><input class="search-bar " type="text" placeholder="Search... "></label>
                <button class="black square "><i class="fas fa-search "></i></button>
            </div>
            <button class="menu-btn "><i class="fas fa-bars "></i></button>
            <div class="content-navigation ">
                <button class="exit-btn "><i class="fas fa-times "></i></button>
                <ul>
                    <li><a href="all_books.html">All Books</a></li>
                    <li><a href="adults.html">Adults</a></li>
                    <li><a href="teens_&_adults">Teens & Young Adults</a></li>
                    <li><a href="kids">Kids</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="banner">
        <img src="../public/images/shopping-cart.jpg">
        <div class="container">
            <h2> Shopping Cart</h2>
        </div>
    </section>

    <section class="table">
        <div class="container">
            <div class="column>">
                <span class="bar">
                    <img src="../public/images/how-to-mars.jpg">

                    <div class="bar-column">

                        <div class="inner">
                            <div>
                                <h4>How to Mars</h4>
                                <p>by David Ebenbach </p>
                            </div>
                            <div>
                            <a class="button btn-border small transparent">Delete</a>
                            <a class="button btn-border small transparent">Save for later</a>
                            </div>
                        </div>
                        <div class="line-group">
                            <div class="qty-input">
                                <label>Qty:</label>
                                <input type="number" value="1" name="quantity" min="0" max="100">
                            </div>
                            <h5 class="price">$0.00</h5>
                       </div>
                    </div>
                </span>
                <span class="bar">
                    <img src="../public/images/the-kingdom.jpg">

                    <div class="bar-column">

                        <div class="inner">
                            <div>
                                <h4>The Kingdom</h4>
                                <p>by Natasha Pulley </p>
                            </div>
                            <div>
                            <a class="button btn-border small transparent">Delete</a>
                            <a class="button btn-border small transparent">Save for later</a>
                            </div>
                        </div>
                        <div class="line-group">
                            <div class="qty-input">
                                <label>Qty:</label>
                                <input type="number" value="1" name="quantity" min="0" max="100">
                            </div>
                            <h5 class="price">$0.00</h5>
                       </div>
                    </div>
                </span>
                <span class="bar">
                    <img src="../public/images/the-mothers.jpg">

                    <div class="bar-column">

                        <div class="inner">
                            <div>
                                <h4>The Mother</h4>
                                <p>by Brit Bannet</p>
                            </div>
                            <div>
                            <a class="button btn-border small transparent">Delete</a>
                            <a class="button btn-border small transparent">Save for later</a>
                            </div>
                        </div>
                        <div class="line-group">
                            <div class="qty-input">
                                <label>Qty:</label>
                                <input type="number" value="1" name="quantity" min="0" max="100">
                            </div>
                            <h5 class="price">$0.00</h5>
                       </div>
                    </div>
                </span>


                <span class="row total">
                    <h5>Total: $0.00</h5>
                </span>
                <span class="zip">
                    <label>Estimated Delivery:</label>
                    <input type="text" placeholder="Enter your zip code">
                </span>
                <span class="row submit-btn">
                    <a class="button black big">Checkout</a>
                </span>
            </div>
        </div>
    </section>


</main>
<footer>
    <div class="container ">
        <div class="row">
            <div class="row hg">
                <p>© 2021 TATIANA SHILNIKOVA, INC</p>
                <a href="about.html ">About</a>
            </div>
            <ul>
                <li>
                    <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
                </li>
                <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
                <li>
                    <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>