<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Checkout Sign-up</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section class="banner banner-media-constant-length img-obj-pos-top">
      <img src="../public/images/log_in.jpg">
      <div class="container">
        <h2>Checkout</h2>
      </div>
    </section>


    <section class="folders-bin log-in">
      <div class="container-max-width-656">
        <div class="tabs">
          <div class="tab tab-media-permanent tab-media-permanent not-active">
            <a class="folder-label hover-white-on-gray hover-orange-on-white" href="log-in.html">Log In</a>
          </div>
          <div class="tab tab-media-permanent tab-media-permanent active">
            <a class="folder-label hover-orange-on-white">Sign Up</a>
          </div>
        </div>
        <form class="justify-content-space-between">
          <div class="column">
            <div class="column-50 padding-top-0">
              <fieldset>
                <legend>Email</legend>
                <input type="email" name="email">
              </fieldset>
              <fieldset>
                <legend>Passwords</legend>
                <input type="password" name="password">
              </fieldset>
              <fieldset>
                <legend>Confirm Passwords</legend>
                <input type="password" name="password">
              </fieldset>
              <a href="password_request.html" class=" btn margin-bottom-1rem">Forget your password?</a>
              <a class="submit-btn btn black big">Sign Up</a>
            </div>
          </div>
          <div class="column">
            <div class="column-50 padding-top-24px">
              <ul>
                <li class="btn-img-text">
                  <div class=" btn btn-icon-text white-border-black">
                    <span class="icon"><i class="fab fa-apple"></i></span>
                    <span class="text btn"><p>Log In with Apple</p></span>
                  </div>
                </li>
                <li class="btn-img-text">
                  <div class="btn btn-icon-text white-border-black">
                    <span class="icon"><img src="../public/images/google-icon.png"/></span>
                    <span class="text btn"><p>Log In with Google</p></span>
                  </div>
                </li>
                <li class="btn-img-text">
                  <div class="btn btn-icon-text white-border-black">
                    <span class="icon facebook-btn"><i class="fab fa-facebook-square"></i></span>
                    <span class="text btn"><p>Log In with Facebook</p></span>
                  </div>
                </li>


              </ul>
            </div>
          </div>
        </form>
      </div>
    </section>


  </main>
  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="contact_form.html">Contact</a>
        </div>
        <ul>
          <li>
            <a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a>
          </li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li>
            <a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>
</html>