<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>The Mother</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
      <div class="row ">
         <span class="search-bar">
           <label><input class="search-input " type="text" placeholder="Search... "></label>
           <button class="black square "><i class="fas fa-search "></i></button>
            </span>
        <button class="menu-btn "><i class="fas fa-bars "></i></button>
        <div class="content-navigation ">
          <button class="exit-btn "><i class="fas fa-times "></i></button>
          <ul>
            <li><a href="all_books.html">All Books</a></li>
            <li><a href="adults.html">Adults</a></li>
            <li><a href="teens_&_adults">Teens & Young Adults</a></li>
            <li><a href="kids">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>


    <section class="advertisement background-none ">
      <div class="container">
        <div class="row media-column">
          <div>
            <img src="../public/images/the-house-of-lost-and-found.jpg" class="product-page-img"/>
          </div>
          <div class="column align-flex-start">
            <h3>The house of lost and found</h3>
            <h4>by Martin Widmark, Emilia Dziubak (Illustrator), Polly Lawson (Translator)</h4>
            <p>ISBN: 978052553554983</p>
            <h5>$0.00</h5>
            <div class=" btn-stack flex-row-media-column">
              <a class="btn big black ">Add to cart </a>
              <a class="btn big white-border-black ">Add Bookmark </a>
            </div>
          </div>
        </div>
        <div class="paragraph-with-header">
          <h4>Description</h4>
          <p>Niles lives alone in a big house full of dust and memories of the people he's lost.

            Then one day, the boy from next door asks Niles to look after his plant. Reluctantly, Niles takes the pot of
            dirt. Can he remember how to care for something?

            As the flower grows, Niles realizes how empty and lonely his house is and begins to care for the plant, his
            house and himself. By the time the little boy returns the flower has bloomed into a beautiful poppy and
            Niles, and his house, are filled with hope again.

            This feel-good picture book from bestselling Swedish children's author Martin Widmark and award-winning
            illustrator Emilia Dzuibak digs deep.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="about.html ">Contact</a>
        </div>
        <ul>
          <li><a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a></li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li><a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a></li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>

</html>