<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>The Mother</title>
  <link rel="stylesheet" href="../public/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="../public/css/main.css"/>
  <script src="https://kit.fontawesome.com/9f481dee3a.js" crossorigin="anonymous"></script>
</head>
<div class="wrapper">
  <body>
  <header>
    <div class="container">
      <div class="row">
        <div class="column">
          <a href="index.html"><img src="../public/images/logo.png" class="logo "/></a>
        </div>
        <ul>
          <li><a href="account_settings.html"><i class="fas fa-user"></i></a></li>
          <li><a href="save_for_later.html"><i class="fas fa-bookmark "></i></a></li>
          <li><a href="shopping_cart.html"><i class="fas fa-shopping-cart "></i></a></li>
        </ul>
      </div>
      <div class="row ">
         <span class="search-bar">
           <label><input class="search-input " type="text" placeholder="Search... "></label>
           <button class="black square "><i class="fas fa-search "></i></button>
            </span>
        <button class="menu-btn "><i class="fas fa-bars "></i></button>
        <div class="content-navigation ">
          <button class="exit-btn "><i class="fas fa-times "></i></button>
          <ul>
            <li><a href="all_books.html">All Books</a></li>
            <li><a href="adults.html">Adults</a></li>
            <li><a href="teens_&_adults">Teens & Young Adults</a></li>
            <li><a href="kids">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>


    <section class="advertisement background-none ">
      <div class="container">
        <div class="row media-column">
          <div>
            <img src="../public/images/the-mothers.jpg" class="product-page-img"/>
          </div>
          <div class="column align-flex-start">
            <h3>The Mother</h3>
            <h4>by Brit Bannet</h4>
            <p>ISBN: 978052553554983</p>
            <h5>$0.00</h5>
            <div class=" btn-stack flex-row-media-column">
              <a class="btn big black ">Add to cart </a>
              <a class="btn big white-border-black ">Add Bookmark </a>
            </div>
          </div>
        </div>
        <div class="paragraph-with-header">
          <h4>Description</h4>
          <p>Set within a contemporary black community in Southern California, Brit Bennett's mesmerizing first novel is
            an emotionally perceptive story about community, love, and ambition. It begins with a secret.

            "All good secrets have a taste before you tell them, and if we'd taken a moment to swish this one around our
            mouths, we might have noticed the sourness of an unripe secret, plucked too soon, stolen and passed around
            before its season."

            It is the last season of high school life for Nadia Turner, a rebellious, grief-stricken, seventeen-year-old
            beauty. Mourning her own mother's recent suicide, she takes up with the local pastor's son. Luke Sheppard is
            twenty-one, a former football star whose injury has reduced him to waiting tables at a diner. They are
            young; it's not serious. But the pregnancy that results from this teen romance—and the subsequent
            cover-up—will have an impact that goes far beyond their youth. As Nadia hides her secret from everyone,
            including Aubrey, her God-fearing best friend, the years move quickly. Soon, Nadia, Luke, and Aubrey are
            full-fledged adults and still living in debt to the choices they made that one seaside summer, caught in a
            love triangle they must carefully maneuver, and dogged by the constant, nagging question: What if they had
            chosen differently? The possibilities of the road not taken are a relentless haunt.

            In entrancing, lyrical prose, The Mothers asks whether a "what if" can be more powerful than an experience
            itself. If, as time passes, we must always live in servitude to the decisions of our younger selves, to the
            communities that have parented us, and to the decisions we make that shape our lives forever.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container ">
      <div class="row">
        <div class="row hg">
          <p>© 2021 TATIANA SHILNIKOVA, INC</p>
          <a href="about.html ">Contact</a>
        </div>
        <ul>
          <li><a href="instagram"> <i class="fab fa-instagram fa-1.5x "></i></a></li>
          <li><a href="twitter"><i class="fab fa-twitter fa-1.5x "></i></a></li>
          <li><a href="facebook"> <i class=" fab fa-facebook-f fa-1.5x "></i></a></li>
        </ul>
      </div>
    </div>
  </footer>

  </body>
</div>

</html>